<section class="sticky">

<!-- Scroll icon -->
  <div class="scroll">
    <span class="scroll-icon">
      <span class="scroll-icon__dot"></span>
    </span>
  </div>
    <p id="scroll-text">Please scroll to the bottom</p>

  <!-- Circle images -->
<img class="img_rotation" id="img_22" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385173/acc_clean/mini/22_s2wkz9.jpg" alt="">
<img class="img_rotation" id="img_1" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385621/acc_clean/mini/1_ez5a3y.jpg" alt="">
<img class="img_rotation grayscale" id="img_3" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385164/acc_clean/mini/3_fhslez.jpg" alt="">
<img class="img_rotation grayscale" id="img_5" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385164/acc_clean/mini/5_jltgzg.jpg" alt="">
<img class="img_rotation" id="img_6" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385167/acc_clean/mini/6_jzigbw.jpg" alt="">
<img class="img_rotation" id="img_2" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385167/acc_clean/mini/2_ywcnup.jpg" alt="">
<img class="img_rotation" id="img_7" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385166/acc_clean/mini/7_gkgll4.jpg" alt="">
<img class="img_rotation grayscale" id="img_12" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385167/acc_clean/mini/12_ascmjh.jpg" alt="">
<img class="img_rotation" id="img_14" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385171/acc_clean/mini/14_axr8hk.jpg" alt="">
<img class="img_rotation" id="img_16" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385173/acc_clean/mini/16_aepui0.jpg" alt="">
<img class="img_rotation" id="img_18" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385172/acc_clean/mini/18_qm6koq.jpg" alt="">
<img class="img_rotation" id="img_19" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385172/acc_clean/mini/19_viskbz.jpg" alt="">
<img class="img_rotation grayscale" id="img_21" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385172/acc_clean/mini/21_ddw8eq.jpg" alt="">
<img class="img_rotation last" id="img_4" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385165/acc_clean/mini/4_aksgr6.jpg" alt="">

<!-- Svg sequence -->
<img class="svg_rotation" id="svg_1" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361115/acc_svgs/1_wlatgb.svg" alt="">
<img class="svg_rotation" id="svg_2" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361115/acc_svgs/2_x6tede.svg" alt="">
<img class="svg_rotation" id="svg_3" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361115/acc_svgs/3_bssrkn.svg" alt="">
<img class="svg_rotation" id="svg_4" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361116/acc_svgs/4_vgzjed.svg" alt="">
<img class="logo" id="logo_acc" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603372941/acc_clean/logo_apmr7f.png" alt="">

<!-- Info cards -->
<div class="card hide" id="card_1">
  <h1>Client value creation</h1>
  <p>Enabling clients to become high-performance businesses and creating long-term relationships by being responsive and relevant and by consistently delivering value.</p>
</div>

<div class="card hide" id="card_2">
  <h1>One global network</h1>
  <p>Leveraging the power of global insight, relationships, collaboration and learning to deliver exceptional service to clients wherever they do business.</p>
</div>

<div class="card hide" id="card_3">
  <h1>Respect for the individual</h1>
  <p>Leveraging the power of global insight, relationships, collaboration and learning to deliver exceptional service to clients wherever they do business.</p>
</div>

<div class="card hide" id="card_4">
  <h1>Best people</h1>
  <p>Leveraging the power of global insight, relationships, collaboration and learning to deliver exceptional service to clients wherever they do business.</p>
</div>

<div class="card hide" id="card_5">
  <h1>Integrity</h1>
  <p>Being ethically unyielding and honest and inspiring trust by saying what we mean, matching our behaviors to our words and taking responsibility for our actions.</p>
</div>

<div class="card hide" id="card_6">
  <h1>Stewardship</h1>
  <p>Fulfilling our obligation of building a better, stronger and more durable company for future generations, protecting the Accenture brand, meeting our commitment to stakeholders, acting with an owner mentality, developing our people and helping improve communities and the global environment.</p>
</div>

</section>

<script>
  //Loading
  setTimeout(function(){
   document.getElementById('card_1').classList.remove('hide');
   document.getElementById('card_2').classList.remove('hide');
   document.getElementById('card_3').classList.remove('hide');
   document.getElementById('card_4').classList.remove('hide');
   document.getElementById('card_5').classList.remove('hide');
   document.getElementById('card_6').classList.remove('hide');
  }, 2000);

  //Scroll scene
  var tl = new TimelineMax({onUpdate:updatePercentage});
  const controller = new ScrollMagic.Controller({refreshInterval: 500});

  tl.from("#img_22", 1, {width: 0, height: 0, ease: Power1.easeInOut});
  tl.from("#img_1", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_3", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_5", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_6", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_2", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#card_1", .3, {opacity: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_7", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#card_2", .3, {opacity: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_12", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_14", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_16", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#card_3", .3, {opacity: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_18", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#card_4", .3, {opacity: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_19", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_20", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#card_5", .3, {opacity: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_21", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_4", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#card_6", .3, {opacity: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_1", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_2", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_3", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_4", 1, {opacity: 0, width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#logo_acc", 0.3, {opacity: 0, ease: Power1.easeInOut}, "=-.5");

  const scene = new ScrollMagic.Scene({
    triggelElement: ".sticky",
    triggerHook: 0.5,
    duration: "20300"
  })
  .reverse(true)
  .setPin(".sticky")
  .setTween(tl)
  .addTo(controller)

function updatePercentage() {
  tl.progress();
  console.log(tl.progress())

  //Auto scroll
  if (tl.progress() > 0.9) {
    window.scrollBy(0, -5)
  } else {
    window.scrollBy(0, 1)
  }
}

</script>

