<section class="sticky">
  <div class="example example--2">
    <span class="scroll-icon">
      <span class="scroll-icon__dot"></span>
    </span>
  </div>
  <!-- CIRCLE IMGs -->
<img class="img_rotation" id="img_22" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385173/acc_clean/mini/22_s2wkz9.jpg" alt="">
<img class="img_rotation" id="img_1" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385621/acc_clean/mini/1_ez5a3y.jpg" alt="">
<img class="img_rotation grayscale" id="img_3" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385164/acc_clean/mini/3_fhslez.jpg" alt="">
<img class="img_rotation grayscale" id="img_5" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385164/acc_clean/mini/5_jltgzg.jpg" alt="">
<img class="img_rotation" id="img_6" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385167/acc_clean/mini/6_jzigbw.jpg" alt="">
<img class="img_rotation" id="img_2" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385167/acc_clean/mini/2_ywcnup.jpg" alt="">
<img class="img_rotation" id="img_7" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385166/acc_clean/mini/7_gkgll4.jpg" alt="">
<!-- <img class="img_rotation grayscale" id="img_8" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385171/acc_clean/mini/8_szbhzj.jpg" alt=""> -->
<!-- <img class="img_rotation" id="img_9" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385170/acc_clean/mini/9_sif60d.jpg" alt=""> -->
<!-- <img class="img_rotation" id="img_10" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385166/acc_clean/mini/10_hg0sfj.jpg" alt=""> -->
<!-- <img class="img_rotation" id="img_11" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385169/acc_clean/mini/11_fn5187.jpg" alt="">-->
<img class="img_rotation grayscale" id="img_12" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385167/acc_clean/mini/12_ascmjh.jpg" alt="">
<!-- <img class="img_rotation grayscale" id="img_13" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385169/acc_clean/mini/13_ivouv9.jpg" alt=""> -->
<img class="img_rotation" id="img_14" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385171/acc_clean/mini/14_axr8hk.jpg" alt="">
<!-- <img class="img_rotation" id="img_15" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385170/acc_clean/mini/15_xilrgm.jpg" alt=""> -->
<img class="img_rotation" id="img_16" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385173/acc_clean/mini/16_aepui0.jpg" alt="">
<!-- <img class="img_rotation grayscale" id="img_17" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385171/acc_clean/mini/17_jretr0.jpg" alt=""> -->
<img class="img_rotation" id="img_18" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385172/acc_clean/mini/18_qm6koq.jpg" alt="">
<img class="img_rotation" id="img_19" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385172/acc_clean/mini/19_viskbz.jpg" alt="">
<!-- <img class="img_rotation grayscale" id="img_20" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385173/acc_clean/mini/20_rvcfem.jpg" alt=""> -->
<img class="img_rotation grayscale" id="img_21" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385172/acc_clean/mini/21_ddw8eq.jpg" alt="">
<!-- <img class="img_rotation" id="img_23" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385173/acc_clean/mini/23_ny67qn.jpg" alt=""> -->
<!-- <img class="img_rotation" id="img_24" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385175/acc_clean/mini/24_cp7uik.jpg" alt=""> -->
<!-- <img class="img_rotation" id="img_25" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385174/acc_clean/mini/25_y1uobh.jpg" alt=""> -->
<img class="img_rotation" id="img_4" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603385165/acc_clean/mini/4_aksgr6.jpg" alt="">
<img class="logo" id="img_26" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603372941/acc_clean/logo_apmr7f.png" alt="">


<!-- SVG SEQUENCE -->
<!-- <img class="svg_rotation" id="svg_1" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361115/acc_svgs/1_wlatgb.svg" alt="">
<img class="svg_rotation" id="svg_2" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361115/acc_svgs/2_x6tede.svg" alt="">
<img class="svg_rotation" id="svg_3" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361115/acc_svgs/3_bssrkn.svg" alt=""> -->
<img class="svg_rotation" id="svg_4" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361116/acc_svgs/4_vgzjed.svg" alt="">
<img class="svg_rotation" id="svg_5" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361118/acc_svgs/5_rsiqdr.svg" alt="">
<img class="svg_rotation" id="svg_6" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361116/acc_svgs/6_ajdlug.svg" alt="">
<img class="svg_rotation" id="svg_7" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361116/acc_svgs/7_ruc3oi.svg" alt="">
<img class="svg_rotation" id="svg_8" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361118/acc_svgs/8_ndnj8e.svg" alt="">
<!-- <img class="svg_rotation" id="svg_9" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361118/acc_svgs/9_awrg3b.svg" alt=""> -->
<img class="svg_rotation" id="svg_10" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361118/acc_svgs/10_wcpkre.svg" alt="">
<!-- <img class="svg_rotation" id="svg_11" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361118/acc_svgs/11_wv7ryb.svg" alt=""> -->
<img class="svg_rotation" id="svg_12" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361119/acc_svgs/12_kcfduj.svg" alt="">
<!-- <img class="svg_rotation" id="svg_13" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361120/acc_svgs/13_nd5odw.svg" alt=""> -->
<img class="svg_rotation" id="svg_14" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361120/acc_svgs/14_svtb1t.svg" alt="">
<!-- <img class="svg_rotation" id="svg_15" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361120/acc_svgs/15_pw1iyl.svg" alt=""> -->
<img class="svg_rotation" id="svg_16" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361121/acc_svgs/16_kp2gn0.svg" alt="">
<!-- <img class="svg_rotation" id="svg_17" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361121/acc_svgs/17_pznsmf.svg" alt=""> -->
<img class="svg_rotation" id="svg_18" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361121/acc_svgs/18_chiwjo.svg" alt="">
<!-- <img class="svg_rotation" id="svg_19" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361123/acc_svgs/19_whpz9s.svg" alt=""> -->
<img class="svg_rotation" id="svg_20" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361123/acc_svgs/20_etdczb.svg" alt="">
<!-- <img class="svg_rotation" id="svg_21" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361123/acc_svgs/21_g9ebdj.svg" alt=""> -->
<img class="svg_rotation" id="svg_22" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361123/acc_svgs/22_czfcsu.svg" alt="">
<!-- <img class="svg_rotation" id="svg_23" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361124/acc_svgs/23_x4keci.svg" alt=""> -->
<!-- <img class="svg_rotation" id="svg_24" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361123/acc_svgs/24_ufh6na.svg" alt=""> -->
<!-- <img class="svg_rotation" id="svg_25" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361126/acc_svgs/25_iegk5c.svg" alt=""> -->
<!-- <img class="svg_rotation" id="svg_26" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361126/acc_svgs/26_j8pxxg.svg" alt=""> -->
<!-- <img class="svg_rotation" id="svg_27" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361126/acc_svgs/27_n7xudn.svg" alt=""> -->
<!-- <img class="svg_rotation" id="svg_28" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361126/acc_svgs/28_mqah3k.svg" alt=""> -->
<!-- <img class="svg_rotation" id="svg_29" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361126/acc_svgs/29_t6g6z8.svg" alt=""> -->
<!-- <img class="svg_rotation" id="svg_29" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1603361126/acc_svgs/30_lkjrqm.svg" alt=""> -->
<!-- INFO CARDS  -->

<div class="card" id="card_1">
  <h1>Client value creation</h1>
  <p>Enabling clients to become high-performance businesses and creating long-term relationships by being responsive and relevant and by consistently delivering value.</p>
</div>

<!-- <div class="card" id="card_2">
  <h1>One global network</h1>
  <p>Leveraging the power of global insight, relationships, collaboration and learning to deliver exceptional service to clients wherever they do business.</p>
</div>

<div class="card" id="card_3">
  <h1>Respect for the individual</h1>
  <p>Leveraging the power of global insight, relationships, collaboration and learning to deliver exceptional service to clients wherever they do business.</p>
</div>

<div class="card" id="card_4">
  <h1>Best peoplel</h1>
  <p>Leveraging the power of global insight, relationships, collaboration and learning to deliver exceptional service to clients wherever they do business.</p>
</div>

<div class="card" id="card_5">
  <h1>Integrity</h1>
  <p>Being ethically unyielding and honest and inspiring trust by saying what we mean, matching our behaviors to our words and taking responsibility for our actions.</p>
</div>

<div class="card" id="card_6">
  <h1>Stewardship</h1>
  <p>Fulfilling our obligation of building a better, stronger and more durable company for future generations, protecting the Accenture brand, meeting our commitment to stakeholders, acting with an owner mentality, developing our people and helping improve communities and the global environment.</p>
</div> -->

</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>

<script>

  var tl = new TimelineMax({onUpdate:updatePercentage});
  const controller = new ScrollMagic.Controller();


  tl.from("#img_22", 1, {width: 0, height: 0, ease: Power1.easeInOut});
  tl.from("#img_1", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_3", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_5", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_6", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_2", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#card_2", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#card_2", 1, {opacity:1, ease: Power1.easeInOut}, "=-.9");
  tl.from("#card_1", .3, {x: 20, y:20, opacity: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_7", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_8", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_9", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_10", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_11", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_12", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_13", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_14", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_15", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_16", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_17", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_18", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_19", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_20", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_21", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_23", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_24", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#img_25", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_4", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");

  // tl.from("#svg_1", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_2", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_3", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_4", 1, {opacity: 0, width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_5", 1, {opacity: 0, width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_6", 1, {opacity: 0, width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_7", 1, {opacity: 0, width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_8", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_9", 1, {width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_10", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_11", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_12", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_13", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_14", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_15", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_16", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_17", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_18", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_19", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_20", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_21", 1, {opacity: 0, width: 0, height: 0, rotation: -50, ease: Power1.easeInOut}, "=-.9");
  tl.from("#svg_22", 1, {opacity: 0, width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_23", 1, {opacity: 0, width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_24", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_25", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_26", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  tl.from("#img_26", 1, {opacity: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_27", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_28", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_29", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");
  // tl.from("#svg_30", 1, {width: 0, height: 0, ease: Power1.easeInOut}, "=-.9");


  const scene = new ScrollMagic.Scene({
    triggelElement: ".sticky",
    triggerHook: 0.5,
    duration: "20300"
  })
  .reverse(true)
  .setPin(".sticky")
  .setTween(tl)
  .addTo(controller)



function updatePercentage() {
  tl.progress();
  console.log(tl.progress())
  if (tl.progress() > 0.98) {
    window.scrollBy(0, -5)
  }
}
</script>
