// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
  margin: 0px;
}

section {
  padding: 2em;
  height: 100vh;
  position: relative;
  box-sizing: 30%;
}

.hide {
  display: none;
}

.img_rotation {
  width: 2500px;
  height: 2500px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform-origin: center;
  margin: auto;
  top: -10000px; left: -10000px; bottom: -10000px; right: -10000px;
  transform: rotate(0deg);
  opacity: 1;
}

.grayscale {
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}
.logo {
  width: 2470px;
  height: 2470px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 40%;
  bottom: 50%;
  right: 50px;
  transform-origin: center;
  margin: auto;
  top: -10000px; left: -10000px; bottom: -9985px; right: -10090px;
  transform: rotate(0deg);
  opacity: 1;
}
.svg_rotation {
  width: 2500px;
  height: 2500px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform-origin: center;
  margin: auto;
  top: -10000px; left: -10000px; bottom: -10000px; right: -10000px;
  transform: rotate(0deg);
  opacity: 1;
}

.card {
  width: 300px;
  // height: 100px;
  background-color: white;
  position: absolute;
  opacity: 0.9;

  h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    color: #4a4a4a;
    margin: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

}

#card_1 {
  left: 180px;
  top: 50px;
  text-align: center;
}

#card_2 {
  right: 180px;
  bottom: 50px;
  text-align: center;
}

#card_3 {
  right: 180px;
  top: 50px;
  text-align: center;
}

#card_4 {
  left: 180px;
  bottom: 50px;
  text-align: center;
}

#card_5 {
  left: 200px;
  top: 50%;
  margin: -100px 0 0 -150px;
  text-align: center;
}

#card_6 {
  right: 100px;
  top: 50%;
  margin: -100px 0 0 -150px;
  text-align: center;
}

.last {
  width: 4000px ;
  height: 4000px ;
}


// Scroll icon
#scroll-text {
  font-family: 'Roboto Slab', serif;
  bottom: 10%;
  left: 45%;
  position: absolute;
  transform-origin: center;
  align: center;
  color: darkgray;
}

@keyframes scroll_2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: darkgray;
  height: 0.5em;
  width: 0.5em;
  top: 0.6em;
  margin-left: -0.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}

// General icon style
.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.5em;
  border: 0.25em solid darkgray;
  border-radius: 1em;
}

.scroll {
  bottom: 15%;
  right: 50%;
  left: 49%;
  position: absolute;
  transform-origin: center;
  align: center;
}
