// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body {
  margin: 0px;
}

section {
  padding: 2em;
  height: 100vh;
  position: relative;
  box-sizing: 30%;
}

.img_rotation {
  width: 2500px;
  height: 2500px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform-origin: center;
  margin: auto;
  top: -10000px; left: -10000px; bottom: -10000px; right: -10000px;
  transform: rotate(0deg);
  opacity: 1;
}

.grayscale {
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}
.logo {
  width: 2500px;
  height: 2500px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 40%;
  bottom: 50%;
  right: 50px;
  transform-origin: center;
  margin: auto;
  top: -10000px; left: -10000px; bottom: -9985px; right: -10090px;
  transform: rotate(0deg);
  opacity: 1;
}
.svg_rotation {
  width: 2500px;
  height: 2500px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform-origin: center;
  margin: auto;
  top: -10000px; left: -10000px; bottom: -10000px; right: -10000px;
  transform: rotate(0deg);
  opacity: 1;
  transform: rotate(0deg);
}

.solid_rotation {
  background: red;
  width: 2500px;
  height: 2500px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  transform-origin: center;
  margin: auto;
  top: -10000px; left: -10000px; bottom: -10000px; right: -10000px;
  opacity: 1;
}

.card {
  width: 300px;
  // height: 100px;
  background-color: white;
  position: absolute;
  opacity: 1;

  h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 10px;
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    color: darkgray;
    margin: 10px;
  }

}

#card_1 {
  left: 50px;
  top: 100px;
}

#card_2 {
  right: 50px;
  bottom: 100px;
}

#card_3 {
  left: 50px;
  top: 300px;
}

#card_4 {
  left: 50px;
  top: 100px;
}

#card_5 {
  left: 50px;
  top: 100px;
}

#card_6 {
  left: 50px;
  top: 100px;
}


// Scroll icon
@keyframes scroll_2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: darkgray;
  height: 0.5em;
  width: 0.5em;
  top: 0.6em;
  margin-left: -0.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}

// General icon style
.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.5em;
  border: 0.25em solid darkgray;
  border-radius: 1em;
}

.example {
  bottom: 100px;
  right: 48.7%;
  position: absolute;
  transform-origin: center;
}


// Loading bar
